/* TODO: inserite il CSS necessario per completare il MHW! */



.choice-grid{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}


.choice-grid div {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border: solid 1px #dcdcdc;
    padding: 10px;
    margin-bottom: 20px;
}

.opacity{
    opacity: 0.6;
}

#result{

   margin: 20px;
}

#result h1{

    margin: 0px;
}

#result p{
    margin-bottom:18px;
    margin-top:18px;
}


button {
    background-color: #cecece;

    height: 50px;
    width: 100%;

}

button:hover{

    background-color: #e0e0e0;
}

article{
    margin-bottom: 40px;
}

#space40{
margin-bottom: 60px;
}

.hide{
display: none;

}

@media (max-width: 700px) {

    article{
        width: 95%;
    }

    header div{
        display: none;
    }
}

@media (max-width: 500px) {

    .choice-grid div{
        width: 49%;
    }

    .question-name h1{
        font-size: 100%;
    }
}



